$color_nav: #000000;

$color_header: #101010;

$lightColor: #fff;
$light2Color: #E3E3E3;
$light3Color: #ADADAD;
$lightGrey: #363636;

$color_content: #1F1F1F;

$big_font: 30px;

$middle_font: 20px;

$little_font: 15px;